html {
	min-height: 100%;
	position: relative
}
body {
	padding: 0;
	background-color: #000;
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #393939
}
a:focus, a:active {
	text-decoration: none
}
h1 {
	font-size: 32px;
	font-weight: normal
}
h1.smaller {
	font-size: 31px
}
h1.bigger {
	font-size: 33px
}
h1.block {
	margin-bottom: 16px
}
h2 {
	font-size: 26px;
	font-weight: normal
}
h2.smaller {
	font-size: 25px
}
h2.bigger {
	font-size: 27px
}
h2.block {
	margin-bottom: 16px
}
h3 {
	font-size: 22px;
	font-weight: normal
}
h3.smaller {
	font-size: 21px
}
h3.bigger {
	font-size: 23px
}
h3.block {
	margin-bottom: 16px
}
h4 {
	font-size: 18px;
	font-weight: normal
}
h4.smaller {
	font-size: 17px
}
h4.bigger {
	font-size: 19px
}
h4.block {
	margin-bottom: 16px
}
h5 {
	font-size: 15px;
	font-weight: normal
}
h5.smaller {
	font-size: 14px
}
h5.bigger {
	font-size: 16px
}
h5.block {
	margin-bottom: 16px
}
h6 {
	font-size: 13px;
	font-weight: normal
}
h6.smaller {
	font-size: 12px
}
h6.bigger {
	font-size: 14px
}
h6.block {
	margin-bottom: 16px
}
.wrapper{margin:0px; padding:0px 20px;}
.header{display:block; float:left; width:100%; margin:0px; padding:0px 0px;}
.top-menu{float:left; margin:30px 0px 0px 0px; padding:0px 0px; color:#fff;}
.top-menu a{font-size:14px; color:#fff; text-decoration:none; margin:0px 10px; font-weight:bold}
.logo{float:right; margin:0px 10px 0px 0px; padding:0px; }
.logo a{text-decoration:none;}
.logo img{border:none;}
.container{float:left; width:100%; margin:100px 0px 0px 0px; padding:0px 0px;}
.container h2{color:#fff; font-size:24px; font-weight:bold;}
.slider-mainbox{float:left; width:100%; margin:0px; padding:10px 0px; border-top:1px solid #999; border-bottom:1px solid #999;}
.slider-box{float:left; width:100%; margin:0px; padding:0px 0px;}
.slider-box ul{float:left; width:100%; margin:0px; padding:0px 0px; list-style:none;}
.slider-box ul li{float:left; margin:0px 0px; padding:0px 0px; text-align:center; list-style:none;}