<!-- raviiiiiiiiiiiiiiiiiiiiii-->
<div class="header">
	<div class="top-menu">
  	<% if !@pages.blank?%>
           <% @pages.each do |page| %>

           	<%= link_to page.title, "/#{page.title}/", :title => page.title, :id => page.title%>
               <% end %>
                                     <% end %>
                                      <%= link_to "Back To Admin", admin_pages_path %> 
  </div>
  <div class="logo"><%= link_to image_tag('poonam_logo.png'), root_url%></div>
</div>
